body {
  color: black;
  background-color: #E9FCFF;
//   text-align: center;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// 	width: 100%;
}



.main {
	padding-top: 75px;
  text-align: center;
  display: flex;
	justify-content: center;
  //background-color: #D4F9FF;
}
